<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>settings</title>
    <link href="https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <h1 class="settings-h1">Settings</h1>
    </header>
</body>
</html>


<style>
.settings-h1{
    position: relative;
    top: 0;
    left: 0;
    margin: 1rem;
    font-family: 'Ropa Sans', sans-serif;
}


</style>